.listbox {
  position: relative;
  width: 10rem;
}

.listbox .select-button {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: default;
  border-radius: 0.6rem;
  background-color: #fff;
  padding: 0.6rem 1rem;
  text-align: left;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  outline: none;
}

.listbox .select-button:focus {
  outline: none;
  border-color: #563b76;
}

.listbox .select-button .truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listbox .select-button .select-btn-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #444;
  font-size: 1.8rem;
  cursor: pointer;
}

.listbox .options {
  position: absolute;
  top: 2rem;
  max-height: 38rem;
  width: 100%;
  overflow-y: auto;
  border-radius: 0.6rem;
  background-color: #fff;
  padding: 1rem;
  text-align: left;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.listbox .options .option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  user-select: none;
  list-style: none;
  padding: 0.6rem;
}

.listbox .options .option.active {
  background-color: rgba(29, 79, 216, 0.15);
  color: #1d4ed8;
}

.listbox .options .option .truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listbox .options .option .option-icon {
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.8rem;
  color: #1d4ed8;
}
