:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #fff;
  transition: all 0.4s ease-in-out;

  --lily-50: #f9f6f9;
  --lily-100: #f4eff4;
  --lily-200: #e8e1e9;
  --lily-300: #d9c8d9;
  --lily-400: #c5adc5;
  --lily-500: #aa8aa9;
  --lily-600: #936f90;
  --lily-700: #7c5a78;
  --lily-800: #674d63;

  --logan-50: #f6f7fc;
  --logan-700: #5d57aa;
  --logan-800: #4e498e;

  --cerise-red-600: #d42a5b;

  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

li:hover {
  font-weight: 700;
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--lily-50);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lily-400);
  border-radius: 20px;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: var(--fontSize-6);
  font-weight: 600;
  width: fit-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
  outline: none;
  border: none;
}

.btn:hover {
  background-color: var(--logan-700);
}

.btn:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(69, 130, 246, 0.2);
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 6px 0;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #0bd1d1;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #0ea5ea;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
