.companies-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.company-banner {
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  z-index: 10;
}

.company-banner .title {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.company-banner .form {
  width: 100%;
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.search-field-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
}

.search-field .field-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field .icon {
  display: flex;
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.search-field .search-inp {
  width: 90%;
  font-size: 1rem;
  color: #222;
  padding: 0.75rem;
  background-color: transparent;
  box-shadow: 0 1px 6rem rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  border-radius: 1em;
}

.search-field .search-inp::placeholder {
  color: #888;
}

.search-field .clear-icon {
  display: flex;
  color: #222;
  font-size: 1.25rem;
  cursor: pointer;
}

.companies-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.companies-info p {
  font-size: 1rem;
  color: #222;
}

.companies-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.companies-sort p {
  font-size: 1rem;
  color: #222;
}

.company-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loading-container {
  margin-top: 2.5rem;
  text-align: center;
}

.companies-count {
  color: #222;
  font-size: 0.875rem;
  text-align: right;
}

.load-more-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.load-more-button button {
  padding: 0.375rem 1.25rem;
  border: 1px solid #3b82f6;
  border-radius: 0.75rem;
  background-color: transparent;
  color: #3b82f6;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0;
}

/* Desktop Styles (Large screens) */
@media only screen and (min-width: 900px) {
}

/* Laptop Styles (Medium screens) */
@media only screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet Styles (Small screens) */
@media only screen and (max-width: 767px) {
  .companies-container {
    padding: 4rem 2rem;
  }

  .company-banner .form .btn {
    display: none;
  }
}

/* Mobile Styles (Extra small screens) */
@media only screen and (max-width: 479px) {
  .company-banner {
    position: relative;
    height: auto;
  }

  .company-banner .title {
    font-size: 2rem;
  }

  .companies-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
