.navigation-container {
  position: relative;
  padding: 1rem 4rem;
  background-color: transparent;
  z-index: 100;
}

.navigation-container.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  transition: all 0.4s ease-in-out;
}

.navigation-container.sticky-bar {
  background: linear-gradient(to bottom, #e8e1e9 0%, #d9c8d9 50%, #c5adc5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#e8e1e9, #c5adc5,GradientType=0 );
  transition: all 0.4s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(
      -20px
    ); /* Adjust this value for desired starting position */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-size: 1.4rem;
  color: var(--lily-700);
  font-weight: bold;
}

.navigation-logo span {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.navigation-list li {
  font-size: 1rem;
  list-style: none;
}

.navigation-list a {
  text-decoration: none;
  color: #333;
}

.navigation-container.sticky-bar .navigation-list a {
  text-decoration: none;
  color: #fff;
}

.signin-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Menu Styles */
.menu-list {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: medium;
}

.menu-button .menu-button-svg,
.menu-button .menu-profile p {
  color: #fff;
}

.menu-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4px;
}

.menu-profile p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.menu-profile span {
  font-size: 12px;
}

.menu-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-button-svg {
  width: 20px;
  height: 20px;
  /* margin-left: 4px; */
}

.menu-toggle {
  color: var(--lily-800);
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  display: none;
}

.menu-items {
  position: absolute;
  z-index: 50;
  right: 2px;
  top: calc(100% + 20px);
  width: 200px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items .menu-item {
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-items .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.menu-items .menu-item a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #1a202c;
  font-size: 0.8rem;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.menu-item .menu-item-svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  color: currentColor;
}

.menu-item button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  background-color: #f7fdfd;
  position: relative;
  z-index: 50;
}

/* Mobile Menu Styles */
.mobile-menu {
  background-color: var(--lily-700);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.mobile-menu li {
  margin-bottom: 10px;
  list-style: none;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--logan-50);
  font-size: 1rem;
  display: block;
  padding: 10px;
  transition: color 0.2s ease-in-out;
}

.mobile-menu a:hover {
  color: #fff;
}

/* Laptop Styles (Medium screens) */
@media only screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet Styles (Small screens) */
@media only screen and (max-width: 767px) {
  .navigation-container {
    padding: 1rem 2rem;
  }

  .ml-display,
  a.hide,
  .navigation-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .mobile-menu.active {
    display: block;
  }
}

/* Mobile Styles (Extra small screens) */
@media only screen and (max-width: 479px) {
}
