.company-profile {
  margin: 0 auto;
  border-radius: 1rem;
}

.company-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.company-profile-header h2 {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.company-profile-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.company-profile-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.company-profile-info .profile-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.company-profile-info .about-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
}

.company-profile-info .about-text {
  font-size: 1rem;
  color: #333;
  white-space: wrap;
  margin: 0;
}

.company-profile-info .profile-info p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fdfdfd;
  border-radius: 0.5rem;
  color: #444;
  margin: 0;
}

.company-profile-info .profile-info p .picon {
  margin-right: 0.5rem;
}

.company-profile-job-count {
  display: flex;
  align-items: center;
}

.company-profile-job-count p {
  color: #3b82f6;
}

.company-profile-jobs {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}

.company-profile-jobs .profile-jobs {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.company-profile-jobcard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
