.footer-container {
  padding: 2em;
  background-color: var(--lily-400);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.footer-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.box-links {
  width: auto;
  padding: 2em 0;
}

.box-links h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.6em 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.links a {
  color: #fdfdfd;
  font-size: 1em;
}

.newsletter {
  width: auto;
  padding: 2em 0;
}

.newsletter h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.6em 0;
}

.newsletter-subscribe {
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.subscribe input {
  width: auto;
  flex-grow: inherit;
  padding: 0.8em;
  border: none;
  border-radius: 0.8em;
  outline: none;
}

.social-links {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
}

.social-links a {
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.25);
}

.social-links a:first-child {
  margin-left: 0;
}

.social-links a + a {
  margin-left: 1rem;
}

.footer-credit {
  background-color: #0ea5ea;
  padding: 1.4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.footer-credit p {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
}

.footer-credit p a {
  color: #fff;
  margin-left: 0.5rem;
  text-decoration: none;
}

.footer-credit p a:hover {
  text-decoration: underline;
}

.footer-credit span {
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
}

/* Laptop Styles (Medium screens) */
@media only screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet Styles (Small screens) */
@media only screen and (max-width: 767px) {
  .social-links {
    justify-content: flex-start;
    width: auto;
    margin-top: 0;
  }
}

/* Mobile Styles (Extra small screens) */
@media only screen and (max-width: 479px) {
  .footer-container {
    padding: 2em;
  }
}
