.company-profile-form-dialog {
  position: relative;
  z-index: 50;
}

.company-profile-form-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.company-profile-form-content {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-profile-form-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.company-profile-form {
  width: 100%;
  max-width: 500px;
  transform: translate(0, 0);
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.company-profile-form.enter {
  animation: enter 0.3s ease-out;
}

.company-profile-form.leave {
  animation: leave 0.2s ease-in;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.company-profile-form-title {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: #37474f;
}

.company-profile-form_ {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.upload-form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.company-profile-form_ .form-group-flex {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.company-profile-form_ .form-group {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.company-profile-form_ .form-input {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.company-profile-form_ .form-input:focus {
  outline: none;
  border-color: #3b82f6;
}

.form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.company-profile-form_ label {
  color: #222;
  opacity: 0.6;
  font-size: 0.8rem;
  font-weight: 500;
}

.company-profile-form_ .form-error {
  color: red;
  font-size: 0.75rem;
  margin: 0;
}

.custom-file-input {
  /* content: "Upload Logo"; */
  width: 13rem;
  font-size: 10px;
  display: inline-block;
  background-color: transparent;
  padding: 0.6rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.company-profile-form-textarea {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  resize: none;
  width: 100%;
  min-height: 8rem;
}

.company-profile-form-textarea:focus {
  border-color: #3b82f6;
  outline: none;
}

.company-profile-form-error {
  color: #e3342f;
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

.company-profile-form button {
  width: 100%;
  border: 1px solid transparent;
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.company-profile-form button:hover {
  background-color: #1d4fd8;
  color: #fff;
}
